<% layout('boilerplate') %>

<div class="batman">
  <div class="container">
<p><%=course.title%></p>






  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <h2>Description</h2>
      <%= course.desc %>
    </div>

    <div class="col-lg-5">
      <h2>Enrolled Students</h2>
      <div class="panel panel-default">
        <div class="panel-heading">
          Students
        </div>

        <div class="panel-body">
            <% if (course.ownByStudent.length == 0)  { %>
              <p>0</p>
            <% } else { %>
              <% for(var i = 0; i < course.ownByStudent.length; i++) { %>
                <div class="col-xs-2">
                  <img src="course.ownByStudent[i].user.profile.picture %>" />
                </div>
              <% } %>
            <% } %>
        </div>
      </div>
    </div>

  </div>

</div>
