<!DOCTYPE html>
<html>
<head>
	<title>Contact us</title>
</head>
<body background="bg.gif">
	<center><font color="white" face="verdana"><h2>Contact us</h2></font> <hr>
	<font face="times new roman" color="white" ><h1>Would like to Connect with us?</h1></font>
	<font color="white"><h2>Feel free to contact us</h2></font><br>
	<center><font color="white" face="times new roman" size="5"><h3>Priyansh Mishra (Android Developer) - +91-8871753357 </h3> 
		<h3>Shivam Giri (Web Developer) - +91-8960987525</h3>
		<h3>Sohail Usmani (Web Developer) - +91-9584828069</h3>
	</font></center>
</center>
<center><font color="white" face="times new roman"><h2>Email us at: e-shiksha@gmail.com</h2></font></center>


</body>
</html>