<% layout('boilerplate') %>
  <div class="batman">
      <div class="container">

        <h1>Welcome To e-Shiksha</h1>

        <b><p>e-shiksha is to create a knowledgeable & empowered India through educating INDIA.</p></b>


      <p>e-Shiksha is a Not-for-profit app and website that focuses on transforming the educational landscape of rural & urban India.
e-shiksha provides digital classrooms from class 4th to class 8th covering all major and minor subjects such as Enlish, Hindi, Maths,Environmental Science etc,
for children in villages, & in some area of city where school or educational hub is far or expernsive,while
internet plays a major role in it. with the support of local communities or Youtube and Volunteer Teachers from across the globe.
With standardized lesson plans and teaching aids that includes education with animated videos for a consistent learning experience, One more features that
we have in our website that student can take notes and convert in to audio voice and can listen that notes. e-shiksha provides many ways to educate students and focus on
quality of study.the children from government schools receive e-quality education for a promising & rewarding future.</p>

      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-4">

          <h3>Learn by watching</h3>

          <p>Learning by visualization</p>

          <p><a class="btn btn-default" href="../courses" role="button">View details;</a></p>
        </div>

        <div class="col-md-4">
          <h3>Convert Notes to Audio</h3>

          <p>A cool way to learn your notes by converting it to audio file and can listen any where or everywhere.</p>

          <p><a class="btn btn-default" href="https://s3.amazonaws.com/eshiksha-polly-website-2018/index.html" role="button">View details;</a></p>
       </div>

       <div class="col-md-4">
         <h3>Contact Us</h3>

         <p>Team - 403 Forbidden Brain Access </p>

         <p><a class="btn btn-default" href="#" role="button">View details;</a></p>
      </div>



      <hr>
</div>
